@keyframes blink {
  from {
    color: #30614f;
    opacity: 0.6;
  }
  to {
    opacity: 1;
    color: #71b99e;
  }
}
@-webkit-keyframes blink {
  from {
    color: #30614f;
    opacity: 0.6;
  }
  to {
    opacity: 1;
    color: #71b99e;
  }
}
#header {
  width: 100%;
  background-color: #0d1218;
  color: #9fa1a3;
  height: 8.5rem;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
}
#header #wrapper_header {
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0.5rem;
}
#header #wrapper_header #logo {
  width: 27rem;
  height: 6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  line-height: 3.6rem;
}
#header #wrapper_header #logo h1 {
  font-size: 3rem;
  color: #9fa1a3;
  font-weight: 700;
  margin: 0;
}
#header #wrapper_header #logo p {
  font-size: 2.2rem;
  margin: 0;
  max-width: none;
}
#header #wrapper_header #menu_header {
  position: fixed;
  right: 30%;
  top: 2.6rem;
  transition: all 1.5s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
  -moz-transition: all 1.5s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0.3s;
  -webkit-transition: all 1.5s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0.3s;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 500px;
}
#header #wrapper_header #menu_header ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  padding: 0;
}
#header #wrapper_header #menu_header ul li {
  min-width: 10.5rem;
  font-size: 3.36rem;
  border-bottom: 2px solid #9fa1a3;
  margin: 0.4rem;
  padding: 0.2rem;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-reflect: below -3px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
}
#header #wrapper_header #menu_header ul li.active {
  color: #41836a;
  border-bottom: 2px solid #499478;
}
#header #wrapper_header #menu_header ul li:hover {
  color: #71b99e;
  border-bottom: 4px solid #82c1aa;
}
@media (max-width: 1279px) {
  #header #wrapper_header #menu_header {
    left: 33rem;
    transition: all 0s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    -moz-transition: all 0s;
    -moz-transition-timing-function: ease-out;
    -moz-transition-delay: 0s;
    -webkit-transition: all 0s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 0s;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-perspective: 500px;
  }
}
@media (max-width: 1100px) {
  #header #wrapper_header #menu_header {
    right: 5rem;
    left: initial;
  }
  #header #wrapper_header #menu_header ul li {
    min-width: 0;
    margin: 0.6rem;
    border-bottom: 0px solid #9fa1a3;
    -webkit-box-reflect: none;
  }
  #header #wrapper_header #menu_header ul li .puce {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9fa1a3;
  }
  #header #wrapper_header #menu_header ul li.active {
    border-bottom: 0px solid #499478;
  }
  #header #wrapper_header #menu_header ul li.active span.puce {
    background: #499478;
  }
  #header #wrapper_header #menu_header ul li:hover {
    border-bottom: 0px solid #82c1aa;
  }
  #header #wrapper_header #menu_header ul li:hover span.puce {
    background: #82c1aa;
  }
  #header #wrapper_header #menu_header ul .text {
    display: none;
  }
}
@media (max-width: 930px) {
  header {
    height: 15rem;
  }
}
@media (max-width: 600px) {
  header {
    height: 20rem;
  }
}
#wrapper {
  width: 100%;
  position: relative;
  margin: 0;
}
#wrapper #fond_base {
  height: 95rem;
  background: url(../../images/backgroundHome.png) 0% 0% repeat fixed;
}
#wrapper #intro_slide {
  background-color: transparent;
  margin: 1rem;
  position: absolute;
  top: 20rem;
  left: 3%;
  max-width: 90%;
}
#wrapper #intro_slide #intro {
  color: #9fa1a3;
  margin: 1rem;
  padding: 2rem;
  max-width: 100%;
}
#wrapper #intro_slide #intro h1 {
  margin: 1rem;
  padding: 0.5rem;
}
#wrapper #intro_slide #intro p {
  font-size: 4.06rem;
  line-height: 4.62rem;
  margin: 2rem auto;
  padding: 1rem;
}
#wrapper #learn {
  max-width: 30%;
  display: block;
  margin: 1rem auto;
  position: absolute;
  top: 80rem;
  left: 40%;
}
#wrapper #learn p {
  margin: 0.5rem 0;
  padding: 0.25rem;
  width: 100%;
  font-size: 3.08rem;
  color: #51a686;
  cursor: pointer;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
}
#wrapper #learn p:hover {
  color: #93cab5;
}
#wrapper #learn p:hover:after {
  background: url(../../images/flecheHover.png) no-repeat;
}
#wrapper #learn p:after {
  content: '';
  background: url(../../images/fleche.png) no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  display: block;
  margin: 1rem auto 0;
  cursor: pointer;
}
@media (max-width: 970px) {
  #wrapper #learn {
    display: none;
  }
}
@media (max-width: 1300px) {
  #wrapper #learn {
    max-width: 40%;
  }
}
@media (max-width: 1200px) {
  #wrapper #learn {
    max-width: 45%;
  }
}
@media (max-width: 1100px) {
  #wrapper #learn {
    max-width: 50%;
    left: 35%;
  }
}
@media (max-width: 750px) {
  #wrapper #learn {
    max-width: 60%;
    left: 30%;
    top: 82rem;
  }
}
@media (max-width: 650px) {
  #wrapper #learn {
    left: 25%;
  }
}
@media (max-width: 580px) {
  #wrapper #learn {
    max-width: 70%;
    left: 22%;
  }
}
@media (max-width: 520px) {
  #wrapper #learn {
    max-width: 90%;
    left: 15%;
  }
}
@media (max-width: 450px) {
  #wrapper #learn {
    max-width: 90%;
    left: 10%;
    top: 84rem;
  }
  #wrapper #learn p {
    font-size: 2.8rem;
  }
}
@media (max-width: 380px) {
  #wrapper #learn {
    left: 5%;
  }
}
@media (max-width: 360px) {
  #wrapper #learn {
    left: 3%;
  }
  #wrapper #learn p {
    font-size: 2.52rem;
    margin: 0.5rem;
  }
}
@media (max-width: 850px) {
  #wrapper #intro_slide #intro h1 {
    font-size: 4rem;
  }
  #wrapper #intro_slide #intro p {
    font-size: 3.64rem;
    line-height: 5.46rem;
  }
  #wrapper #intro_slide #intro #learn {
    width: 60%;
  }
}
@media (max-width: 800px) {
  #wrapper #intro_slide {
    top: 15rem;
  }
}
@media (max-width: 750px) {
  #wrapper #intro_slide {
    top: 10rem;
    max-width: 90%;
  }
  #wrapper #intro_slide #intro #learn {
    width: 70%;
  }
}
@media (max-width: 620px) {
  #wrapper #intro_slide {
    top: 10rem;
    left: 2%;
  }
  #wrapper #intro_slide #intro h1 {
    font-size: 3.8rem;
  }
  #wrapper #intro_slide #intro p {
    font-size: 3.36rem;
    line-height: 4.9rem;
  }
}
@media (max-width: 600px) {
  #wrapper #intro_slide {
    top: 16.5rem;
    left: 1%;
  }
  #wrapper #intro_slide #intro {
    padding: 1rem;
    max-width: 100%;
  }
  #wrapper #intro_slide #intro p {
    margin: 2rem auto;
    padding: 1rem;
  }
}
@media (max-width: 560px) {
  #wrapper #intro_slide {
    top: 18rem;
    left: 0%;
    max-width: 95%;
  }
  #wrapper #intro_slide #intro h1 {
    margin: 0.6rem;
    padding: 0.3rem;
  }
  #wrapper #intro_slide #intro p {
    font-size: 3.08rem;
    line-height: 4.2rem;
  }
}
@media (max-width: 490px) {
  #wrapper #intro_slide #intro h1 {
    margin: 0.5rem;
    padding: 0.25rem;
  }
  #wrapper #intro_slide #intro p {
    line-height: 3.92rem;
    margin: 1.5rem auto;
    padding: 0.75rem;
  }
}
@media (max-width: 440px) {
  #wrapper #intro_slide #intro {
    margin: 0.8rem;
    padding: 0.75rem;
  }
  #wrapper #intro_slide #intro h1 {
    font-size: 3.6rem;
  }
  #wrapper #intro_slide #intro p {
    font-size: 3.08rem;
    line-height: 3.64rem;
  }
}
@media (max-width: 390px) {
  #wrapper #intro_slide {
    top: 20rem;
  }
  #wrapper #intro_slide #intro {
    margin: 0.9rem 0;
    padding: 0.5rem;
  }
  #wrapper #intro_slide #intro h1 {
    margin: 0.4rem;
    padding: 0.2rem;
  }
  #wrapper #intro_slide #intro p {
    font-size: 2.94rem;
    line-height: 3.5rem;
    margin: 1.2rem auto;
    padding: 0.6rem;
  }
}
@media (max-width: 360px) {
  #wrapper #intro_slide #intro {
    margin: 0.8rem 0;
    padding: 0.4rem 0;
  }
  #wrapper #intro_slide #intro h1 {
    font-size: 3.5rem;
  }
  #wrapper #intro_slide #intro p {
    font-size: 2.66rem;
    line-height: 3.36rem;
    margin: 1.2rem 0;
    padding: 0.6rem 0;
  }
}
#wrapper #works_slide {
  width: 90%;
  margin: 5rem auto;
}
#wrapper #works_slide h2 {
  font-size: 4.48rem;
  color: #0d1218;
  margin: 1rem 0;
}
#wrapper #works_slide #menu_filter li {
  display: inline-block;
  font-size: 2.8rem;
  color: #9fa1a3;
  background-color: #0d1218;
  margin: 0.2rem 0.4rem;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: 700;
}
#wrapper #works_slide #menu_filter li.active {
  color: #41836a;
  border-bottom: 4px solid #499478;
}
#wrapper #works_slide #menu_filter li:hover {
  color: #71b99e;
}
@media (max-width: 460px) {
  #wrapper #works_slide #menu_filter li {
    width: 50%;
    min-width: 22rem;
  }
}
#wrapper #works_slide .project_banner {
  width: 0;
  margin: 1rem auto;
  border: 0px solid transparent;
  height: 0;
  position: relative;
  cursor: pointer;
  z-index: 0;
  overflow: hidden;
  opacity: 1;
  background: url(../../images/fond-code-filter.jpg) center center no-repeat;
  background-size: 100%;
  transition: all 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  -moz-transition: all 1s;
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition: all 1s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 500px;
}
#wrapper #works_slide .project_banner.project_filter {
  width: 100%;
  height: 18rem;
  opacity: 1;
  border: 6px solid #0d1218;
}
#wrapper #works_slide .project_banner .veil {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  background-color: #0d1218;
  opacity: 0.9;
  transition: all 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  -moz-transition: all 1s;
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition: all 1s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 500px;
}
#wrapper #works_slide .project_banner .project {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
#wrapper #works_slide .project_banner:hover {
  border: 6px solid #41836a;
  background-size: 105% !important ;
}
#wrapper #works_slide .project_banner:hover .veil {
  opacity: 0.25;
}
#wrapper #works_slide .project_banner .com {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#wrapper #works_slide .project_banner .com h3 {
  color: #ffffff;
  margin: 1rem;
  padding: 0.5rem;
}
#wrapper #works_slide .project_banner .com p {
  font-size: 3.22rem;
  color: #a2a4a5;
  margin: 1rem;
  padding: 0.5rem;
}
#wrapper #works_slide .project_banner .banner_detail {
  display: none;
}
@media (max-width: 600px) {
  #wrapper #works_slide .project_banner {
    width: 100%;
    margin: 1rem 0;
    border: 6px solid #0d1218;
    height: 18rem;
    position: relative;
    overflow: hidden;
  }
  #wrapper #works_slide .project_banner .com {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #wrapper #works_slide .project_banner .com h3 {
    font-size: 3rem;
    line-height: 3.3rem;
    color: #ffffff;
    margin: 0.5rem;
    padding: 0.25rem;
  }
  #wrapper #works_slide .project_banner .com p {
    font-size: 2.8rem;
    color: #a2a4a5;
    margin: 0.5rem;
    padding: 0.25rem;
  }
}
@media (max-width: 460px) {
  #wrapper #works_slide .project_banner {
    height: 20rem;
  }
}
@media (max-width: 340px) {
  #wrapper #works_slide .project_banner {
    width: 95%;
  }
}
#wrapper #about {
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 0;
  background-color: #070A0E;
}
#wrapper #about #fond_about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../../images/backgroundAbout.png) 0% 0% repeat fixed;
  max-height: 100%;
}
#wrapper #about #about_pos {
  width: 90%;
  margin: 2rem auto 0;
  padding: 0.5rem;
}
#wrapper #about #about_pos .flex_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media (max-width: 1450px) {
  #wrapper #about #about_pos .flex_container {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
#wrapper #about #about_pos .about_box {
  margin: 1rem 0 0;
  color: #9fa1a3;
  padding: 2rem;
}
#wrapper #about #about_pos .about_box h2 {
  color: #edeeee;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
#wrapper #about #about_pos .about_box h3 {
  color: #c6c7c8;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
}
#wrapper #about #about_pos .about_box p {
  width: 100%;
  font-size: 2.66rem;
  line-height: 2.94rem;
  margin: 1rem 0;
  padding: 0.5rem;
}
#wrapper #about #about_pos .about_box p[class='decal'] {
  padding-left: 1.4rem;
}
#wrapper #about #about_pos .about_box > ul {
  margin: 2rem 0;
  font-size: 3.22rem;
}
#wrapper #about #about_pos .about_box > ul > li {
  font-size: 2.66rem;
  line-height: 3.22rem;
  margin: 1rem;
  padding: 0.25rem;
}
#wrapper #about #about_pos .about_box > ul > li > ul {
  margin-left: 1rem;
}
#wrapper #about #about_pos .about_box > ul > li > ul > li {
  font-size: 2.52rem;
  line-height: 3.22rem;
  margin: 0.4rem;
  padding: 0.2rem;
}
#wrapper #about #about_pos #pdf {
  width: 98%;
  padding-left: 0.5rem;
  position: relative;
}
#wrapper #about #about_pos #pdf a {
  font-size: 4.2rem;
  margin: 0 0.5rem;
  padding: 1rem;
  background-color: #1f3f33;
}
#wrapper #about #about_pos #pdf a img {
  margin-bottom: 0.6rem;
}
#wrapper #about #about_pos #pdf a:hover {
  background-color: #71b99e;
  color: #0d1218;
}
@media (max-width: 580px) {
  #wrapper #about #about_pos #pdf {
    padding: 0.25rem;
  }
  #wrapper #about #about_pos #pdf a {
    font-size: 3.5rem;
    padding: 0.75rem;
  }
}
@media (max-width: 480px) {
  #wrapper #about #about_pos #pdf {
    padding: 0.25rem;
  }
  #wrapper #about #about_pos #pdf a {
    font-size: 3.08rem;
    padding: 0.75rem;
  }
}
@media (max-width: 480px) {
  #wrapper #about #about_pos #pdf a .lowRes {
    display: none;
  }
}
#wrapper #about #about_pos #skills {
  -ms-order: 2;
  -webkit-order: 2;
  -ms-flex-order: 2;
      order: 2;
}
#wrapper #about #about_pos #skills p {
  font-size: 3.8rem;
}
#wrapper #about #about_pos #skills section {
  margin-bottom: 2rem;
  margin-right: 2rem;
}
#wrapper #about #about_pos #skills ul {
  margin-left: 1.3rem;
}
#wrapper #about #about_pos #skills ul li {
  font-size: 3.5rem;
  line-height: 5rem;
}
#wrapper #about #about_pos #skills .data {
  display: inline-block;
  width: 7rem;
  margin: 0 0.8rem;
  height: 1.82rem;
  border: 2px solid #0d1218;
  position: relative;
}
#wrapper #about #about_pos #skills .data .rempl_data {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #71b99e;
  transition: all 2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  -moz-transition: all 2s;
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition: all 2s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 500px;
}
@media (max-width: 1450px) {
  #wrapper #about #about_pos #skills .skills_flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
#wrapper #about #about_pos #exp > ul > li {
  margin: 1rem 0;
}
@media (max-width: 1450px) {
  #wrapper #about #about_pos #educ {
    -ms-order: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
        order: 2;
  }
}
#wrapper #about #about_pos #educ > ul > li {
  margin: 1rem 0;
}
#wrapper #about #about_pos #misc {
  -ms-order: 1;
  -webkit-order: 1;
  -ms-flex-order: 1;
      order: 1;
}
#wrapper #about #about_pos #misc > ul > li {
  margin: 1rem 0;
}
#footer {
  background-color: #0d1218;
  padding: 0.5rem;
  min-height: 53rem;
  position: relative;
  z-index: 1;
}
#footer #wrapper_footer {
  width: 90%;
  margin: 3rem auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
#footer #wrapper_footer #contact {
  width: 38%;
  color: #9fa1a3;
}
#footer #wrapper_footer #contact h2 {
  font-size: 4.8rem;
  line-height: 5.2rem;
}
#footer #wrapper_footer #contact p {
  max-width: 90%;
  line-height: 3.64rem;
  margin: 0.5rem 0;
}
#footer #wrapper_footer #contact ul li {
  font-size: 2.94rem;
  line-height: 3.36rem;
}
#footer #wrapper_footer #contact #soc {
  margin: 1rem 0;
}
#footer #wrapper_footer #contact #soc li {
  margin-right: 0.5rem;
  display: inline-block;
  opacity: 0.5;
  transition: opacity 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  -moz-transition: opacity 1s;
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition: opacity 1s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 500px;
}
#footer #wrapper_footer #contact #soc li:hover {
  opacity: 1;
}
#footer #wrapper_footer #contact a:hover {
  color: #bd788a;
}
#footer #wrapper_footer #contact a img {
  width: 5rem;
  height: 5rem;
}
#footer #wrapper_footer #contact_form_bloc {
  max-width: 66rem;
}
#footer #wrapper_footer #contact_form_bloc label {
  display: block;
  font-size: 3.08rem;
  color: #9fa1a3;
  margin: 0.5rem 0;
  cursor: pointer;
}
#footer #wrapper_footer #contact_form_bloc input[type="text"],
#footer #wrapper_footer #contact_form_bloc input[type="email"] {
  width: 55%;
  min-width: 27rem;
  font-famil: 'Quicksand', sans-serif;
  padding-left: 0.5rem;
  margin: 0;
  font-size: 2.24rem;
  color: #1f2a38;
  background-color: #9fa1a3;
  border: 1px solid #0d1218;
}
#footer #wrapper_footer #contact_form_bloc ::-webkit-input-placeholder {
  color: #435c7a;
}
#footer #wrapper_footer #contact_form_bloc :-moz-placeholder {
  color: #435c7a;
  opacity: 1;
}
#footer #wrapper_footer #contact_form_bloc ::-moz-placeholder {
  color: #435c7a;
  opacity: 1;
}
#footer #wrapper_footer #contact_form_bloc :-ms-input-placeholder {
  color: #435c7a;
}
#footer #wrapper_footer #contact_form_bloc .form_name:focus,
#footer #wrapper_footer #contact_form_bloc .form_mail:focus,
#footer #wrapper_footer #contact_form_bloc textarea:focus {
  outline: 3.5px solid #fafafa;
}
#footer #wrapper_footer #contact_form_bloc .form_name.error_form,
#footer #wrapper_footer #contact_form_bloc .form_mail.error_form,
#footer #wrapper_footer #contact_form_bloc textarea.error_form {
  background: #ac566c;
}
#footer #wrapper_footer #contact_form_bloc .form_name.error_form:focus,
#footer #wrapper_footer #contact_form_bloc .form_mail.error_form:focus,
#footer #wrapper_footer #contact_form_bloc textarea.error_form:focus {
  outline: 3.5px solid #46222c;
}
#footer #wrapper_footer #contact_form_bloc .form_message {
  height: 20rem;
  min-width: 38rem;
  min-height: 20rem;
  font-size: 2.8rem;
  font-family: 'Quicksand', sans-serif;
  padding-left: 0.5rem;
  margin: 0;
  color: #1f2a38;
  background-color: #9fa1a3;
  border: 1px solid #0d1218;
}
#footer #wrapper_footer #contact_form_bloc input[type='submit'] {
  display: block;
  min-width: 15%;
  font-size: 2.94rem;
  border-radius: 0;
  color: #9fa1a3;
  background-color: #1f3f33;
  border: none;
  float: right;
}
#footer #wrapper_footer #contact_form_bloc input[type='submit']:hover {
  background-color: #51a686;
  cursor: pointer;
  color: #1f2a38;
}
#footer #wrapper_footer #contact_form_bloc input[type='submit'].submit_error {
  background-color: #683341;
}
#footer #wrapper_footer #contact_form_bloc input[type='submit'].submit_error:hover {
  background-color: #9c4c61;
  cursor: pointer;
  color: #1f2a38;
}
@media (max-width: 1200px) {
  #footer #wrapper_footer {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
#footer .legal {
  width: 100%;
}
#footer .legal p {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  color: #9fa1a3;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #0d1218;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.lightbox {
  max-width: 60%;
  background-color: #d3d4d5;
  color: #0d1218;
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  padding: 4rem;
}
.lightbox .cross {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 2%;
  right: 1%;
  background: url(../../images/cross.png) no-repeat;
  opacity: 0.65;
  cursor: pointer;
}
.lightbox .cross:hover {
  opacity: 1;
}
.lightbox h3 {
  color: #0d1218;
}
.lightbox p {
  width: 95%;
  font-size: 2.66rem;
  color: #0d1218;
  margin: 1rem auto;
  padding: 0.5rem;
}
.lightbox ul {
  list-style: disc;
  max-width: 95%;
  color: #0d1218;
  margin: 1rem auto;
  padding: 0.5rem;
}
.lightbox ul li {
  font-size: 2.66rem;
  line-height: 2.94rem;
  margin: 0.5rem;
  padding: 0.25rem;
}
.lightbox .thumbnail {
  width: 100%;
  min-height: 18rem;
  background: url(../../images/backgroundHome.png) 0% 0% no-repeat;
  background-size: cover;
}
.lightbox .link_project {
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem;
}
.lightbox .link_project a {
  font-size: 2.52rem;
  padding: 0.5rem 0.65rem;
  color: #d3d4d5;
  background-color: #1f3f33;
  display: inline-block;
  margin-top: 0.5rem;
}
.lightbox .link_project a:hover {
  background-color: #71b99e;
}
@media (max-width: 1200px) {
  .lightbox {
    padding: 2rem;
  }
  .lightbox p {
    font-size: 2.38rem;
    margin: 0.5rem auto;
    padding: 0.25rem;
  }
}
@media (max-width: 800px) {
  .lightbox {
    padding: 1.5rem;
    padding-bottom: 1rem;
  }
  .lightbox p {
    font-size: 2.1rem;
    line-height: 2.38rem;
    margin: 0.5rem auto;
    padding: 0.25rem 0;
  }
}
@media (max-width: 740px) {
  .lightbox {
    padding: 1rem;
  }
  .lightbox .low_res {
    display: none;
  }
  .lightbox ul {
    list-style: none;
  }
}
@media (max-width: 480px) {
  .lightbox {
    max-width: 30rem;
  }
  .lightbox ul {
    display: none;
  }
}
@media (max-width: 360px) {
  .lightbox {
    max-width: 28rem;
  }
  .lightbox h3 {
    font-size: 3.1rem;
  }
}
@media (max-width: 1280px) {
  #footer #wrapper_footer #contact {
    width: 90%;
  }
  #footer #wrapper_footer #contact_form {
    width: 90%;
    min-width: 50rem;
  }
}
@media (max-width: 560px) {
  #footer #wrapper_footer #contact {
    width: 90%;
  }
  #footer #wrapper_footer #contact_form_bloc {
    width: 90%;
    min-width: 45rem;
    position: absolute;
    top: 36rem;
    left: 0;
  }
}
@media (max-width: 500px) {
  #footer #wrapper_footer #contact {
    width: 90%;
  }
  #footer #wrapper_footer #contact_form_bloc {
    display: none;
  }
}
@media (max-width: 450px) {
  #footer #wrapper_footer #contact {
    width: 95%;
  }
  #footer #wrapper_footer #contact #contact_data a {
    font-size: 2.66rem;
  }
  #footer #wrapper_footer #contact a img {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 420px) {
  footer #wrapper_footer {
    margin: 3rem 0;
    padding: 0;
  }
  footer #wrapper_footer #contact h2 {
    font-size: 4.2rem;
  }
  footer #wrapper_footer #contact #contact_data a {
    font-size: 2.24rem;
  }
}

/*# sourceMappingURL=index.css.map */